<md-card>
  <md-card-header>
    <md-card-title>Mobile Toolkit Service Worker</md-card-title>
    <md-card-subtitle>Playground</md-card-subtitle>
  </md-card-header>
  <md-card-actions>
    <button md-raised-button (click)="subscribeToPush()">Subscribe to Push</button>
    <button md-raised-button (click)="unsubscribeFromPush()">Unsubscribe from Push</button>
    <button md-raised-button (click)="registerForPush()">Register for push</button>
  </md-card-actions>
  <md-card-actions>
    <button md-raised-button (click)="checkServiceWorker()">Check service worker</button>
    <button md-raised-button (click)="loadCacheKeys()">Load cache keys</button>
    <button md-raised-button (click)="installWorker()">Install Service Worker</button>
    <button md-raised-button (click)="uninstallWorker()">Uninstall Service Worker</button>
  </md-card-actions>
  <md-card-actions>
    <button md-raised-button (click)="forceUpdate()">Force Update</button>
    <button md-raised-button (click)="pingCompanion()">Ping Companion</button>
  </md-card-actions>

</md-card>
