<div>

  <button (click)="checkServiceWorker()">Check service worker</button>
  <button (click)="registerForPush()">Register for push</button>
  <button (click)="loadCacheKeys()">Load cache keys</button>
  <button (click)="installWorker()">Install Service Worker</button>
  <button (click)="uninstallWorker()">Uninstall Service Worker</button>
  <button (click)="forceUpdate()">Force Update</button>
  <button (click)="pingCompanion()">Ping Companion</button>
  <button (click)="subscribeToPush()">Subscribe to Push</button>
  <button (click)="unsubscribeFromPush()">Unsubscribe from Push</button>

</div>
