/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "http://localhost:3000/assets/css/MaterialIcons.css";
@import "https://fonts.googleapis.com/css?family=Roboto:400,300";

body {
    margin: 0;
    background: #eee;
}

.content {
    padding: 16px;
}

.mat-card {
    margin-bottom: 16px;
}